.statistics {
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 100px;
  padding-top: 30px;

  text-align: center;
  background-color: rgb(248, 247, 247);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 3px;
}

.statistics-title {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.statistics-stat-list {
  display: flex;
  list-style: none;
}

.statistics-stat-list li {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 15px;
  min-width: 70px;
}

.statistics-stat-list li:first-child {
  border-bottom-left-radius: 3px;
}

.statistics-stat-list li:last-child {
  border-bottom-right-radius: 3px;
}

.statistics-label {
  margin-bottom: 8px;
  font-size: 11px;
  color: #fff;
}

.statistics-percentage {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
